<button (click)="mostrar = !mostrar">Mostrar/Quitar</button>

<h3>Autor</h3>
<div class="datos">
  <p>Nombre : {{perfil.nombre}}</p>
  <p>Apellido: {{perfil.apellido}}</p>
</div>
<div class="datos" *ngIf="mostrar">
  <p>gmail: {{perfil.gmail}}</p>
  <p>Direccion: {{perfil.direccion}}</p>
</div>